/**Every Page Stuff**/
* {
	font-family:Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	margin:0;
	padding:0;
}
body{
	background-color: #3C3C3C;
	color:white;
}
						/** Header CSS**/
#logo img{
	float:left;
	margin-left:10px;
}

#logo a {
	float:left;
	font-size:2.5em;
	padding: 10px 10px 10px 10px;
	/**min-width:140px;**/
	text-align: center;
	color: #FFFFFF;
	background: #2C2C2C;
	text-decoration: none;
}


#current {
	background-color: #3C3C3C;
}
nav{
	text-align: center;
	padding: 0em;
	background-color: #2C2C2C; 
	width: 100%;
	height: 66px;
	z-index: 10;
	display:inline-block;
} 
nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	margin-left: 300px;
}
nav li {
	display:inline-block;
	float: left;

	padding: 1px;
}
/*Style for menu links*/
nav li a {
	font-size:1.25em;
	display:block;
	/**min-width:140px;**/
	padding: 8px 10px 0 10px;
	height: 50px;
	text-align: center;
	line-height: 50px;	
	color: #FFFFFF;
	background: #2C2C2C;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	background: #0052A5;
	color: #FFFFFF;
	text-decoration: none;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #F3F3F3;
	color: #2C2C2C;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #0052A5;
	color: #FFFFFF;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
	margin-left: 0;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
#menu li a:hover + .hidden, .hidden:hover {
	display: block;
	z-index: 10;
}


/*Style 'show menu' label button and hide it by default*/
.show-menu {
	background-color: #2f3036; 
	float: left;
	padding: 0px;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 780px){
	/*Make dropdown links appear inline*/
	nav ul {
		position: static;
		display: none;
		margin-left: 0px;
	}
	/*Create vertical spacing*/
	nav li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	nav ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
		float:left;
	}
	#logo img {
		display:none;
	}
}